// Variables

$sidebarColor: #333333;
$textColor: #333333;
$secondaryTextColor: #FFFFFF;
$highlightColor :#75A3d1 ;
//#E05151 pink
$activeColor: #FFD452; //blue
$backgroundColor: #EEEEEE;

$radiantColor : #63A46c; //green
$radiantGradient: rgba(99,164,108,0.3);
$direColor : #D9411e; //red
$direGradient: rgba(217,61,19,0.3);

$headerFont : 'Gentium Book Basic', serif;
$bodyFont : 'Lato', sans-serif;

@mixin grayscale($percentage) {
        filter : url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
        filter: grayscale($percentage);
        -moz-filter: grayscale($percentage);
        -ms-filter: grayscale($percentage);
        -o-filter: grayscale($percentage);
        filter: gray;
        -webkit-filter: grayscale($percentage);
}
