// Variables...import to separate file later
@import "variables";

//**************** Base CSS & Layouts ****************

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    background: $backgroundColor;
}

h1, h2, h3 {
    font-family: $headerFont;
}

p, span, {
    font-family: $bodyFont;
}

ul {
    list-style: none;
    padding:0px;
}

h2 {
    text-align: center;
    margin: .5em;
}

h3 {
    margin:5px;
    font-size: 1.2em;
}

select {
    background: transparent;
}

.main, .sidebar{
    display:inline-block;
}

.sidebar {
    width:25%;
    height:100vh;
    position:fixed;
    top:0px;
    padding:20px;
    overflow : auto;
}

.main {
    margin-left : 25%;
}

.isSelected {
    border-bottom: 3px solid $activeColor;
}

//**************** Animations **************
@import "animations";

//**************** Module-level layouts & styling ****************
.combo-search-section {
    background: $sidebarColor;
    color: $secondaryTextColor;
}

.search-options-container{
    border-bottom: 1px solid $secondaryTextColor;
    padding-bottom: 10px;
    font-size: .9em;

    .picker{
        padding : 5px 0px;

        select{
            margin-left : 10px;
            min-width: 25%;
        }
    }
}


.lineupCombo {
    display: flex;
    margin: 1em 0;
    text-align: center;
    align-items: center;


    .combo-count {
        background: $highlightColor;
        margin: 0px;
        padding: 1em .5em;
        min-width:2em;
    }

    &.selected {
        .combo-count {
            background: $activeColor;
            color:$textColor;
        }
    }

    .lineup {
        margin-left: 1em;
    }
}

.hero {
    display:inline-block;
    padding: 5px;
    vertical-align: middle;
    position:relative;

    .seq {
        position:absolute;
        top: 5px;
        right: 5px;
        background-color : $sidebarColor;
        color: $secondaryTextColor;
        font-size: .7em;
        width:1.3em;
        text-align: center;
    }

    .isBan{
        @include grayscale(100%);
        opacity: 0.8;
    }

    .isPick{
        box-shadow: 5px 5px 5px $textColor;
        position: relative;
        top: -2px;
        left: -2px;
        width: 105%;

        & + .seq{
            top: 7px;
            right: 7px;
        }
    }
}

.main {
    color: $textColor;

    h2 {
        padding: .5em;
        margin: 0px;
        border-bottom: 1px solid $textColor;
    }

}


.pick-container {
    background-color: $backgroundColor;
    padding: 1em 1em 1em 0;

    p {
        font-size: .7em;
        margin: .5em;
    }

    &.winner {
        &.radiant {
            background-color:$radiantGradient;

            p {
                color : $radiantColor;
            }
        }

        &.dire {
            background-color:$direGradient;

            p {
                color : $direColor;
            }
        }
    }

    .teamname-container, .lineup {
        display: inline-block;
        vertical-align: middle;
    }

    .teamname-container {
        width:100px;
        text-align: center;
    }
}

.match-results {
    padding: 1em;
}

.match{
    &.showBans{
        .isPick{
            @include animation('addHeroPick .5s');
        }
    }
}

