// Variables...import to separate file later

$sidebarColor: #333333;
$textColor: #333333;
$secondaryTextColor: #FFFFFF;
$highlightColor :#75A3d1 ;
//#E05151 pink
$activeColor: #FFD452; //blue
$backgroundColor: #EEEEEE;

$radiantColor : #63A46c; //green
$direColor : #D9411e; //red

$headerFont : 'Gentium Book Basic', serif;
$bodyFont : 'Lato', sans-serif;

@mixin grayscale($percentage) {
        filter : url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
        filter: grayscale($percentage);
        -moz-filter: grayscale($percentage);
        -ms-filter: grayscale($percentage);
        -o-filter: grayscale($percentage);
        filter: gray;
        -webkit-filter: grayscale($percentage);
}

//**************** Base & Layouts ****************

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    background: $backgroundColor;
}

h1, h2, h3 {
    font-family: $headerFont;
}

p, span, {
    font-family: $bodyFont;
}

ul {
    list-style: none;
    padding:0px;
}

h2 {
    text-align: center;
    margin: .5em;
}

h3 {
    margin:5px;
    font-size: 1.2em;
}

select {
    background: transparent;
}

.main, .sidebar{
    display:inline-block;
}

.sidebar {
    width:25%;
    height:100vh;
    position:fixed;
    top:0px;
    padding:20px;
    overflow : auto;
}

.main {
    margin-left : 25%;
}

.isSelected {
    border : 1px solid $activeColor;
}

//**************** Module-level layouts & styling ****************
.comboSearchSection {
    background: $sidebarColor;
    color: $secondaryTextColor;
}

.searchOptions{
    border-bottom: 1px solid $secondaryTextColor;
    padding-bottom: 10px;
    font-size: .9em;

    .picker{
        padding : 5px 0px;

        select{
            margin-left : 10px;
            width: 25%;
        }
    }
}


.lineupCombo {
    display: flex;
    align-items: center;
    margin: 1em 0;

    .combo-count {
        background: $highlightColor;
        margin: 0px;
        padding: 1em .75em;
    }

    &.selected {
        .combo-count {
            background: $activeColor;
            color:$textColor;
        }
    }

    .lineup {
        margin-left: 1em;
    }
}

.hero {
    display:inline-block;
    padding: 5px;
    vertical-align: middle;
    position:relative;

    .seq {
        position:absolute;
        top: 5px;
        right: 5px;
        background-color : $sidebarColor;
        color: $secondaryTextColor;
        font-size: .7em;
        width:1.3em;
        text-align: center;
    }

    img.isBan{
        @include grayscale(100%);
        opacity: 0.8;
    }

    img.isPick{
        border: 3px solid $textColor;

        & + .seq{
            top: 7px;
            right: 7px;
        }

        &.isSelected{
            border: 3px solid $activeColor;
        }
    }


}

.main {
    color: $textColor;
    padding:0 1em;

    h2 {
        padding: .5em;
        margin: 0px;
        border-bottom: 1px solid $textColor;
    }
}


.pickContainer {
    background-color: $backgroundColor;
    padding: 1em 1em 1em 0;

    p {
        font-size: .7em;
        margin: .5em;
    }

    &.winner {
        &.radiant {
            background-color:rgba(99,164,108,0.3);
            p {
                color : $radiantColor;
            }
        }

        &.dire {
            background-color:rgba(217,61,19,0.3);
            p {
                color : $direColor;
            }
        }
    }

    .nameContainer, .lineup {
        display: inline-block;
        vertical-align: middle;
    }

    .nameContainer {
        width:100px;
        text-align: center;
    }

}

