doctype html
html(lang='en')
    head
        title='Dota Lineup Analyzer'
        script(src='bundle.js' type='text/javascript')
        link(rel='stylesheet', href='styles/index.css', type='text/css')

        script(type='text/javascript').
            window.heroes = !{JSON.stringify(heroes)};
            window.patchToLeagues = !{JSON.stringify(patchToLeagues)};
    body
        #container
